<% include header.html %>

<div class="layui-body">
	<!-- 内容主体区域 -->
	<div style="padding: 15px;">
		<span class="layui-breadcrumb">
			<a href="">首页</a>
			<a href="">班级管理</a>
			<a><cite>班级列表</cite></a>
		</span>
		<hr>
		<form class="layui-form sousuo" action="/class">
			<div class="layui-form-item">
				<div class="layui-inline">
					<label class="layui-form-label">关键词：</label>
					<div class="layui-input-inline" style="width: 200px;">
						<input type="text" name="keywords" autocomplete="off" value="<%= keywords%>" class="layui-input">
					</div>
				</div>
				<button class="layui-btn">查询</button>
			</div>
		</form>
		<div class="box">
			<table class="layui-table">
				<colgroup>
					<col width="100">
					<col width="200">
					<col width="200">
					<col>
				</colgroup>
				<thead>
					<tr>
						<th>CID</th>
						<th>班级名称</th>
						<th>添加时间</th>
						<th>操作</th>
					</tr>
				</thead>
				<tbody class="classlist">
					<% 
					let reg=new RegExp(keywords,"ig");
					let n=1; for(let i=0;i<clist.length ;i++){ %>
					<tr>
						<td>
							<%= clist[i].cid   %>
						</td>
						<td>
							<%- clist[i].cname.replace(reg,`<span class='H'>${keywords}</span>`) %>
						</td>
						<td>
							<%=  new Date(clist[i].addtime).toLocaleString() %>
						</td>
						<td>
							<a href="###" class="delc H" data-cid="<%= clist[i].cid %>">删除</a> |
							<a class="H" href="updateclass?cid=<%= clist[i].cid %>">修改</a>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>

		</div>
	</div>
</div>


<% include footer.html %>
